[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
sphinx = "*"
httpx = "*"
pytest = "*"
pytest-datadir = "*"
pytest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.9"
