[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-freedictionaryapi = {editable = true, path = "."}

[dev-packages]
aiohttp = "*"
sphinx = "*"
httpx = "*"
pytest = "*"
pytest-asyncio = "*"
sphinx-rtd-theme = "*"
requests = "*"
tox = "*"

[requires]
python_version = "3.9"
